{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Eliminar Autor{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 70vh;">
  <div class="card p-4" style="width: 100%; max-width: 600px;">
    <h1>Eliminar Autor</h1>
    <p>¿Estás seguro que deseas eliminar el autor <strong>{{ object.nombre }}</strong>?</p>
    
    <form method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Eliminar</button>
      <a href="{% url 'autor_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
</div>
{% endblock content %}